* {
  margin: 0;
  padding: 0;
}

.search {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0 auto;
  width: fit-content;
  border: 0.2em solid black;
  border-radius: 5rem;
}

input {
  background-color: transparent;
  border: gray;
}
input:focus {
  outline: none;
}
.card-container {
  background-color: #252b48;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 10px;
  overflow: hidden;
}
.pills {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  width: fit-content;
  height: max-content;
}
.card {
  flex: 1;
  max-width: 250px;
}
.card-img {
  height: 75%;
  width: 100%;
  object-fit: contain;
}
section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  align-items: flex-end;
}